
<div class='top_image'>
  <%= image_tag "IMG_7442.jpg", size: "500x600"%>
</div>
<div class='body_text'>
  <h2>About Us</h2>
  <h3 id='udrl'>Meet Your Hosts</h3>

  <p>My name is Lee Etris, Sharon Etris is my better half, we have 3 children all boys, Dalton age 29 is Active Duty Air Force, Dylan age 21 a Senior at the University of Kentucky in the Computer Engineering Program, and Christian age 13 8th grade, helps out with the Ranch. I am retired from the US Department of Justice, and a Veteran of the US Navy, and the US Army. My wife Sharon is a Middle School Teacher, 6th grade, has 3 degrees, and was a successful Travel Agent for 15 years.
  <br><br>We love the outdoors, hunting, fishing, and Camping, and we hope that you and your family will enjoy our Serenity Cabin and Lazy E Hunting Ranch. </p>

</div>
