<h1>Hunting Information</h1>
<h2>Serenity Cabin at Lazy E Ranch</h2>
<%= render 'partials/navigation_bar' %>
<div class="page_body"> 
  <%= render 'info/hunting_info' %> 
  <%= render 'info/hunting_prices' %>
</div>
