/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



#navbar li {
  float: left;
  border-right:1px solid #bbb
}

#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover{
  background-color: #051F20;
}

#navbar ul {
  list-style-type: none;
  background-color: #235347;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer ul {
  list-style-type: none;
  background-color: #235347; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 16px 16px;
}

#footer p {
  padding: 0 16px;
  color: white;
  text-align: center;
}

#footer li {
  float: left;
  border-right:1px solid #bbb;
}

#content .top_image {
  overflow: hidden;
  margin: 0 100px;
  padding: 20px;
  background-color: #8EB69B;
}

.top_image img {
  margin: 0 20px 0 0;
  max-width: 100%;
  height: auto;
  border-color: #0B2B26;
  border-style: solid;
  border-width: thick;
}

body {
  background-color: #DAF1DE;
}

#content {
  margin-bottom: 50px;
}

#content h2 {
  margin: auto;
  text-align: center;
  color: black;

  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
}

#content h3 {
  margin: auto;
  text-align: center;
  color: black;

  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
}

#content p {
  margin: auto;
  font-size: large;
  text-align: center;
  color: black;

  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  height: 100%;
}

.body_text {
  height: 100%;
  margin: 0 100px;
  background-color: #8EB69B;
}

/*.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}*/
.row {
  display: flex;
  margin: 0 100px;
  flex-wrap: wrap;
  background-color: #8EB69B;
  justify-content: center;
}

.column {
  max-width: 32%;
  padding: 0 2px;
}

.column img {
  width: 100%
}
