/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.navbar li {
  float: left;
  border-right:1px solid #bbb
}

div.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

div.navbar li a:hover{
  background-color: #111;
}

div.navbar ul {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.page_body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;

  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: lightgrey;
}

div.hunting_prices  {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;

  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: lightgrey;

}
