<p>The following prices will be in effect for the 2021 hunting seasons </p>
<h2>2021 Spring Turkey (Archery or Shotgun)</h2>
<p>2021 Spring Turkey Season Opening Week $650.00 <b>Per hunter</b> for 5 days/4 nights   $850.00 for 7 days/6 nights <b>Per hunter</b> </p>
<p>Remaining 2021 Spring Turkey Season $500.00 <b>Per hunter</b> for 5 days/4 nights.  $650.00 for 7 days/6 nights.  <b>Per hunter</b></p>

<h2>2021 Deer Season/Fall Turkey Season (ARCHERY ONLY)</h2>
<h3>NO SHOTGUNS IN FALL TURKEY SEASON</h3>
<p>(Opening Week) $1000.00 for 5 days/4 nights $1200.00 for 7 days/ 6 nights <b>Per hunter</b> </p>
<p>Rut Weeks $1000.00 for 5 days/4 nights or $1200.00 for 7 days/6 nights <b>Per hunter</b></p>
<p>Regular Bow $800.00 for 5 days/4 nights or $1000.00 for 7 days/6 nights <b>Per hunter</b></p>


  
<p>Lake Liberty is located within 6 miles of the Cabin, and Lake Cumberland is only a half hour away, we are located in the middle of Amish country, so don’t be surprised to see Horse and Buggies on the roads. </p> 
<p>Genesis Taxadermy </p>
<p>Johnny Baker: 606-669-8771 </p>
<p>Lancaster, KY  johnnydbaker@gmail.com </p>
<p>Genesistaxidermy.com</p>
